* text=auto
*.astro text eol=lf
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.mp4 binary
*.pdf binary
assets/videos/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
assets/videos/**/*.mov filter=lfs diff=lfs merge=lfs -text
assets/videos/**/*.avi filter=lfs diff=lfs merge=lfs -text
